<footer class="bg-gray-800 bg-repeat bg-footer-image p-4 mt-8 shadow-inner text-center text-gray-400">
    <div class="container mx-auto">
        <nav class="mb-4">
            <ul class="flex justify-center space-x-6 text-lg">
                <li><a href="index.html" class="hover:text-blue-300 transition-colors duration-200">Home</a></li>
                <li><a href="about.html" class="hover:text-blue-300 transition-colors duration-200">About</a></li>
                <li><a href="sources.html" class="hover:text-blue-300 transition-colors duration-200">Sources</a></li>
                <li><a href="contact.html" class="hover:text-blue-300 transition-colors duration-200">Contact</a></li>
            </ul>
        </nav>
        <div class="flex justify-center space-x-4 mb-4">
            <a href="https://www.instagram.com/your_profile" target="_blank"
                class="text-blue-400 hover:text-blue-300 transition-colors duration-200">Instagram</a>
            <a href="https://github.com/your_profile" target="_blank"
                class="text-blue-400 hover:text-blue-300 transition-colors duration-200">GitHub</a>
        </div>
        <p class="text-sm">© <span id="current-year">2025</span> Kids Games Explorer. All rights reserved.</p>
    </div>
    <script>
        // Automatyczna aktualizacja roku
        document.getElementById('current-year').textContent = new Date().getFullYear();
    </script>

</footer>